<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Recommendation Time!</h2>

    <p>Use the form below to get our recommendation...</p>

    <form action="/recommendation" method="POST">

  

        <!-- TODO: Instead of hard-coding these drop-down menu options, dynamically populate them based on user records from the database -->
        <label>EFFECT:</label>
        <select name="effect">
            <option value="Aroused">Aroused</option>
            <option value="Creative">Creative</option>
            <option value="Euphoric">Euphoric</option>
            <option value="Focused">Focused</option>
            <option value="Giggly">Giggly</option>

        </select>
        <br>

        <!-- TODO: Instead of hard-coding these drop-down menu options, dynamically populate them based on user records from the database -->
        <label>FLAVOR:</label>
        <select name="flavor">
            <option value="Apple">Apple</option>
            <option value="Berry">Berry</option>
            <option value="Blue">Blue</option>
            <option value="Blueberry">Blueberry</option>

        </select>
        <br>
        <button>Submit</button>
    </form>

</body>
</html>
